.Option {
  display: flex;
  align-items: center;
  justify-content:space-evenly;
  gap: 10px 5px;
  font-weight: 600;
  text-transform: uppercase;
}
.Option li {
  list-style-type: none;
  cursor: pointer;
}
.Logo-option {
  display: block;
  align-items: center;
  justify-content: center;
}
hr{
    width: 100%;
}

